<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.example.demo.infra.codegroup.CodeGroupDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
		<!--
        SELECT
            a.seq
            ,a.name
            ,a.memo
            ,(select count(aa.seq) from code aa where 1=1 and aa.delNy = 0 and aa.seq = a.seq) as xseqCount
            ,a.delNy
            ,a.regDatetime
            ,a.modDatetime
         FROM codeGroup a
        WHERE 1=1
        	
        ORDER BY a.seq DESC
        -->
        
         select
        a.delNY
     	,a.seq
		, a.name
		,a.modDatetime
		, (select count(*) from code aa where aa.codeGroup_seq=a.seq) as xseqCount
		
		from codeGroup a

    </select>
	  
</mapper>