<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeGroupView</title>
</head>
<body>
    <p th:text="${item.seq}"></p>
<p th:text="${item.name}"></p>
<a th:href="@{/codeGroupXdmList}" th:text="back"></a>


<a th:href="@{/CodeGroupForm(seq=${item.seq}, name=${item.name})}" th:text="수정"></a>
<form method="post" action="/codeGroupUelete">
		<input type="hidden" name="delNy" th:value="${item.delNy}" />
		<input type="hidden" name="seq" th:value="${item.seq}">
		<button type="submit">aa</button>
	</form>
	
<form method="post" action="/codeGroupDelete">
		<input type="hidden" th:value="${item.delNy}" />
		<input type="hidden" name="seq" th:value="${item.seq}"> 
		<button type="submit">bb</button>
	</form>
	
	
	
	
</body>
</html>